body.games.index
  .myg-content
    padding: myg-spacing(4)
    .myg-card__container
      & > a
        &:not(:first-child)
          margin-top: myg-spacing(4)
    h3
      margin-top: myg-spacing(8)
    & > a:not(.game)
      font-size: myg__px(14)
      text-decoration: none
      margin-top: myg-spacing(4)
