body.games.show
  .myg-content
    padding: myg-spacing(4)
    .myg-card__container
      & > a
        &:not(:first-child)
          margin-top: myg-spacing(4)
        &:last-child
          display: inline-block
          margin-top: myg-spacing(2)
          text-decoration: none
    h3:not(:first-of-type)
      margin-top: myg-spacing(8)
