%img{ src: asset('trophy.svg') }
%h1 Tip the 2018 World Cup with friends & family.
%p= welcome_subtitle
.myg-button__container.myg-grid__flex.-center
  = link_to 'Get started', games_url, class: 'myg-button'
