body.matches.show
  .myg-content
    .match-wrapper
      background: myg-theme__color(accent, base)
      padding: myg-spacing(4)
      .result-wrapper
        +myg-grid__grid-template(1fr, 1fr 1fr 1fr)
        .nation-wrapper
          text-decoration: none !important
          margin: 0
          &:last-child
            +myg-grid__flex
            flex-direction: column
            +myg-grid__flex---end-y
          h4
            margin-top: myg-spacing(1)
            color: myg-theme__color(accent, contrast)
        h1
          margin: 0
          margin-top: myg-spacing(2)
          text-align: center
          color: myg-theme__color(accent, contrast)
          height: myg__px(45)
          +myg-theme__border-radius(2)
      & > p
        text-align: center
        color: myg-theme__color(accent, contrast)
        opacity: .6
        span.live
          display: none
          font-weight: bold
      &.live
        & > p span.live
          display: inline
        .result-wrapper h1
          background: myg-theme__color(accent, contrast)
          color: myg-theme__color(accent, base)
    .content-wrapper
      padding: myg-spacing(4)
      a.match-tip
        &:not(:first-child)
          margin-top: myg-spacing(2)
      .myg-button__container
        margin-top: myg-spacing(4)
