- meta title: 'Invite'

%h1.sm Invite

= simple_form_for @invitation, url: game_invitations_url(game_id: @game.to_param) do |f|
  = component 'myg/form-field', as: :input, attribute: :email, class_name: 'invitation', label: 'Email', input_html: { required: true, type: :email, autofocus: true }
  = component 'myg/form-field', as: :textarea, attribute: :message, class_name: 'invitation', label: 'Message', input_html: { required: true }
  .myg-button__container.myg-grid__flex.-reverse
    = component 'myg/button', value: 'Send invitation'
