/* ------------------------
	icons
------------------------- */
@function unicode($str) {
  @return unquote("\"\\#{$str}\"");
}

$nc-trophy: unicode(ea03);
$nc-podium: unicode(ea07);
$nc-ball-soccer: unicode(ea08);
$nc-soccer-field: unicode(ea09);
$nc-dashboard-29: unicode(ea0a);
$nc-tail-left-2: unicode(ea0b);
$nc-add: unicode(ea0c);

.nc-trophy::before {
  content: $nc-trophy;
}

.nc-podium::before {
  content: $nc-podium;
}

.nc-ball-soccer::before {
  content: $nc-ball-soccer;
}

.nc-soccer-field::before {
  content: $nc-soccer-field;
}

.nc-dashboard-29::before {
  content: $nc-dashboard-29;
}

.nc-tail-left-2::before {
  content: $nc-tail-left-2;
}

.nc-add::before {
  content: $nc-add;
}
