onesignal:
  app_id: XXX
sentry:
  dsn: XXX
mailgun:
  api_key: XXX
digital_ocean:
  access_key_id: XXX
  secret_access_key: XXX
livescore:
  api_key: XXX
  api_secret: XXX
database:
  username: XXX
  password: XXX

# Used as the base secret for all MessageVerifiers in Rails, including the one protecting cookies.
secret_key_base: XXX
