digital_ocean:
  access_key_id: XXX
  secret_access_key: XXX

mailgun:
  api_key: XXX

onesignal:
  app_id: XXX
  auth_key: XXX

sentry:
  dsn: XXX

skylight:
  token: XXX

# Used as the base secret for all MessageVerifiers in Rails, including the one protecting cookies.
secret_key_base: XXX
