- meta title: t('matches.index.title', name: @game.name)

%h1= t('d.matches')

- @matches.group_by { |match| match.begins_at.to_date }.each do |date, match|
  %p= l(date, format: :date)
  .myg-card__container
    = render match, game: @game
