- meta title: t('matches.index.title', name: @game.name)

%h1= t('matches')

- @matches.group_by { |match| match.begins_at.to_date }.each do |date, match|
  %p= date.strftime('%-d %B')
  .myg-card__container
    = render match, game: @game
