body.users.registrations.edit {
  .myg-content {
    padding: myg-spacing(4);

    form .myg-button__container {
      margin-top: myg-spacing(2);
    }

    h3:not(:first-of-type) {
      margin-top: myg-spacing(8);
    }
  }
}
