- meta title: t('tips.index.title', name: @game.name)

%h1= t('d.tips')

- if @matches_grouped_by_day.any?
  - @matches_grouped_by_day.each do |date, matches|
    %p= l(date)
    .myg-card__container
      - matches.each do |match|
        = render 'tip', tip: match.tips.includes(:participant).find_by(participants: { user: current_user, game: @game }), game: @game, match: match
- else
  %p= t('tips.index.none')
